/*------------------------------------------------*/
/*	General Styles
/*------------------------------------------------*/

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #555;
    background: #ececec;
}

h1, h2 {
    font-family: "latolight", serif;
}

h3, h4, h5, h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

hr {
    border-top-color: #ddd;
}

hr.inner-separator {
    border-style: dashed;
}

label {
    font-weight: 300;
}

blockquote {
    border-color: #e4e4e4;
}

input {
    border-radius: 0;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 100%;
        width: 100%;
    }
}

@font-face {
    font-family: "latolight";
    src: url('../fonts/lato-lig-webfont.eot?1383488388');
    src: url('../fonts/lato-lig-webfont.eot?&1383488388#iefix') format('embedded-opentype'), url('../fonts/lato-lig-webfont.woff?1383488388') format('woff'), url('../fonts/lato-lig-webfont.ttf?1383488388') format('truetype'), url('../fonts/lato-lig-webfont.svg?1383488388') format('svg');
}

@font-face {
    font-family: "latoregular";
    src: url('../fonts/lato-reg-webfont.eot?1386010378');
    src: url('../fonts/lato-reg-webfont.eot?&1386010378#iefix') format('embedded-opentype'), url('../fonts/lato-reg-webfont.woff?1386010378') format('woff'), url('../fonts/lato-reg-webfont.ttf?1386010378') format('truetype'), url('../fonts/lato-reg-webfont.svg?1386010378') format('svg');
}

@font-face {
    font-family: "latobold";
    src: url('../fonts/lato-bol-webfont.eot?1384273632');
    src: url('../fonts/lato-bol-webfont.eot?&1384273632#iefix') format('embedded-opentype'), url('../fonts/lato-bol-webfont.woff?1384273632') format('woff'), url('../fonts/lato-bol-webfont.ttf?1384273632') format('truetype'), url('../fonts/lato-bol-webfont.svg?1384273632') format('svg');
}

.wrapper.full-page-wrapper {
    width: 100%;
    margin: 0 auto;
}

.wrapper.full-page-wrapper .inner-page {
    padding-top: 5%;
}

@media screen and (max-width: 768px) {
    .wrapper.full-page-wrapper {
        padding-top: 5em;
        margin-top: 0;
    }

    .wrapper.full-page-wrapper .inner-page {
        position: relative;
        padding: 0 1em;
    }
}

@media screen and (max-width: 480px) {
    .wrapper.full-page-wrapper {
        padding-top: 0;
    }

    .wrapper .inner-page {
        padding: 5em 1em;
    }
}

.pointer {
    cursor: pointer;
}

.red-font {
    color: #E60404 !important;
}

.yellow-font {
    color: #FFB800 !important;
}

.green-font {
    color: #3E9C1A !important;
}

.red-bg {
    background-color: #E60404 !important;
}

.yellow-bg {
    background-color: #FFB800 !important;
}

.green-bg {
    background-color: #3E9C1A !important;
}

.link-disabled {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.bottom-30px {
    margin-bottom: 30px;
}

.control-inline {
    display: -moz-inline-stack !important;
    display: inline-block !important;
    vertical-align: middle !important;
    zoom: 1 !important;
    margin-right: 10px;
}

label.error {
    visibility: hidden;
    display: none !important;
}

.loading {
    position: fixed;
    z-index: 1040;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.025);
}

.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */
@-webkit-keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*------------------------------------------------*/
/*	CSS Overrides
/*------------------------------------------------*/

.gritter-close {
    background:url(../img/gritter.png) no-repeat left top;
    outline: none;
    left: auto;
    right: 3px;
}

.gritter-item-wrapper {
    background: rgba(0, 0, 0, 0.80);
}

.gritter-top,
.gritter-item,
.gritter-bottom {
    background: none;
}

.gritter-title {
    font-size: 12px;
}

.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--single {
    border-color: #ccc;
    border-radius: 0;
    height: 32px;
    line-height: 1.42857143;
    font-size: 12px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    border-radius: 0;
}

.select2-container--default .select2-selection--single .select2-selection__rendered,
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 32px;
    line-height: 2.5;
    padding-left: 14px;
    color: #555;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    top: 16px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--single {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.select2-dropdown.select2-dropdown--below {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    outline: 0;
}

.input-daterange .input-group-addon {
    background-color: #ececec;
    border-left: none;
    border-right: none;
}

.modal-open {
    overflow: hidden;
}

.note-editor.panel.panel-default {
    border-color: #ccc;
}

.note-editor .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.note-editor .btn-default .caret {
    border-top-color: #333;
}

.note-editor .btn-default:hover,
.note-editor .open .dropdown-toggle.btn-default,
.open .note-editor .dropdown-toggle.btn-default,
.note-editor .btn-default:focus,
.note-editor .btn-default:active,
.note-editor .btn-default.active {
    color: #333;
    background-color: #ebebeb;
    border-color: #adadad;
}

.modal {
    display: none;
    overflow: auto;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
}

.modal.fade .modal-dialog {
    transform: translate(0, -25%);
    transition: transform 0.3s ease-out;
}

.modal.in .modal-dialog {
    transform: translate(0, 0);
}

.modal-dialog {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    padding: 10px;
    z-index: 1050;
}

.modal-content {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #999999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: none;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    background-color: #000000;
}

.modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0);
}

.modal-backdrop.in {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.428571429px;
}

.modal-header .close {
    margin-top: -2px;
}

.modal-title {
    margin: 0;
    line-height: 1.428571429;
}

.modal-body {
    position: relative;
    padding: 20px;
}

.modal-footer {
    margin-top: 15px;
    padding: 19px 20px 20px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.modal-footer:before,
.modal-footer:after {
    content: " ";
    display: table;
}

.modal-footer:after {
    clear: both;
}

.modal-footer .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0;
}

.modal-footer .btn-group .btn + .btn {
    margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
    margin-left: 0;
}

@media screen and (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden;
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
}

.affix {
    position: fixed;
}

@-ms-viewport {
    width: device-width;
}

/*------------------------------------------------*/
/*	Top
/*------------------------------------------------*/
.top-bar {
    padding: 5px 0;
    background-color: #555;
}

.top-bar .logo,
.top-bar .brand {
    color: #fff;
    font-size: 18px;
    position: relative;
    text-decoration: none;
    top: 2px;
}

.top-bar .top-bar-right {
    text-align: right;
    padding-right: 15px;
}

.top-bar .top-bar-right .btn-link {
    color: #ddd;
}

.top-bar .top-bar-right .btn-link:hover {
    color: #fff;
}

.top-bar .top-bar-right #global-volume {
    padding: 0;
}

@media screen and (min-width: 480px) {
    .top-bar .top-bar-right #global-volume {
        padding: initial;
    }
}

.top-bar .top-bar-right #start-tour {
    display: none;
}

@media screen and (min-width: 480px) {
    .top-bar .top-bar-right #start-tour {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
    }
}

@media screen and (min-width: 992px) {
    .top-bar .top-bar-right {
        float: right;
        position: relative;
        top: 2px;
    }
}

.top-bar .logged-user {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    text-align: left;
}

.top-bar .dropdown-menu {
    padding: 0;
}

.top-bar .dropdown-menu > li > a {
    padding: 8px;
}

.top-bar .dropdown-menu > li > a:hover {
    background-color: #fafafa;
}

.top-bar .logged-user .btn,
.top-bar .logged-user .guest {
    padding: 0;
    border: none;
    font-size: 0.9em;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
}

.top-bar .logged-user .btn .name {
    font-weight: 400;
}

.top-bar .logged-user .btn .caret {
    border-top-color: #fff;
}

.top-bar .logged-user .btn:hover {
    color: #fff;
    text-decoration: none;
}

.top-bar .logged-user .btn img {
    border: 1px solid #5e5e5e;
    border-radius: 24px;
    height: 24px;
    position: relative;
    top: -2px;
    width: 24px;
}

.top-bar .logged-user .open .btn {
    color: #fff;
}

.top-bar .logged-user .dropdown-menu {
    left: auto;
    right: -24px;
    top: 31px;
    padding: 0;
}

.top-bar .logged-user .dropdown-menu > li {
    border-top: 1px solid #f1f1f1;
}

.top-bar .logged-user .dropdown-menu > li:first-child {
    border-top: none;
}

.top-bar .logged-user .dropdown-menu > li > a {
    color: #555;
    font-size: 0.9em;
}

.top-bar.navbar-fixed-top + .bottom {
    margin-top: 44px;
}

@media screen and (max-width: 991px) {
    .top-bar.navbar-fixed-top + .bottom {
        margin-top: 112px;
    }
}

.btn-global-volume i:before {
    display: block;
    width: 13px;
}

/*------------------------------------------------*/
/*	Main Navigation
/*------------------------------------------------*/
.main-nav-toggle {
    float: left;
    color: #fff;
}

.main-nav-toggle i {
    font-size: 24px;
}

.main-nav-toggle:hover, .main-nav-toggle:focus {
    color: #ddd;
}

/* breadcrumb */
.breadcrumb li + li:before {
    font-family: FontAwesome;
    font-size: 14px;
    content: "\f105";
    color: #b2b6bf;
    margin-right: 2px;
    padding: 0 5px 0 2px;
    position: relative;
    top: 1px;
}

/* main menu */
ul.main-menu {
    padding-left: 0;
    list-style-type: none;
}

ul.main-menu > li a {
    display: block;
    position: relative;
    padding: 10px 0 10px 15px;
    color: #555;
    background-color: #ececec;
    border-top: 1px solid #dfdfdf;
    text-decoration: none;
}

ul.main-menu > li a:hover {
    text-decoration: none;
    background-color: #f1f1f1;
}

ul.main-menu > li.active > a {
    font-weight: 700;
    background-color: #dfdfdf;
}

ul.main-menu > li:first-child > a {
    border-top: none;
}

ul.main-menu > li i {
    width: 14px;
    text-align: center;
}

ul.main-menu > li .text {
    padding-left: 8px;
    font-size: 0.9em;
}

ul.main-menu > li .toggle-icon {
    font-size: 14px;
    width: 10px;
    position: absolute;
    right: 10px;
    top: 13px;
    text-shadow: none;
}

ul.main-menu .sub-menu {
    position: relative;
    display: none;
    padding-left: 0;
}

ul.main-menu .sub-menu li a {
    padding-left: 33px;
}

ul.main-menu .sub-menu li.active > a {
    font-weight: 700;
}

ul.main-menu .sub-menu.open {
    overflow: hidden;
    display: block;
}

ul.main-menu .sub-menu .sub-menu li a {
    padding-left: 50px;
}

ul.main-menu > li > a,
.content-wrapper {
    transition: all 0.3s ease-in-out;
}

.left-sidebar {
    transition: all 0.3s ease-in-out;
    padding-right: 0;
    padding-left: 0;
}

.left-sidebar.minified {
    width: 40px;
    margin-right: -40px;
    z-index: 9;
}

.left-sidebar.minified .main-menu > li {
    position: relative;
}

.left-sidebar.minified .main-menu > li i {
    width: 40px;
}

.left-sidebar.minified .main-menu > li .toggle-icon {
    display: none;
}

.left-sidebar.minified .main-menu > li > a {
    padding-left: 0;
}

.left-sidebar.minified .main-menu > li > a > .text {
    position: absolute;
}

.left-sidebar.minified .main-menu > li:hover > a > .text {
    position: absolute;
    display: block;
    left: 40px;
    top: 0;
    min-width: 200px;
    z-index: 9999;
    padding: 10px;
    border: 1px solid #ccc;
    line-height: 1.5;
    background: #ccc;
    font-weight: 700;
    opacity: 1 !important;
}

.left-sidebar.minified .main-menu > li:hover > ul.sub-menu {
    display: block !important;
    min-width: 200px;
    position: absolute;
    margin-left: 40px;
    z-index: 9999;
    border: 1px solid #E4E4E4;
    border-top: none;
}

.left-sidebar.minified .main-menu > li:hover > ul.sub-menu > li > a {
    padding-left: 10px;
}

@media screen and (max-width: 992px) {
    .left-sidebar {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    .left-sidebar {
        display: block !important;
        overflow: visible !important;
    }
}

.sidebar-minified {
    text-align: center;
    position: relative;
    margin-bottom: 15px;
}

@media screen and (max-width: 992px) {
    .sidebar-minified {
        display: none;
    }
}

.sidebar-minified:before {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    content: "";
    height: 0;
    border-top: 1px solid #c4c4c4;
    position: absolute;
    left: 10px;
    right: 10px;
    top: 13px;
}

.sidebar-minified i {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    border-radius: 25px;
    width: 25px;
    height: 25px;
    position: relative;
    border: 1px solid #A2A2A2;
    color: #A2A2A2;
    padding: 4px;
    background-color: #f1f1f1;
    cursor: pointer;
}

.sidebar-minified i:hover {
    background-color: #f6f6f6;
}

/* main content navigation */
.main-content-nav ul {
    line-height: 34px;
}

.main-content-nav li {
    padding-left: 10px;
    padding-right: 10px;
}

.main-content-nav li a {
    color: #888888;
    text-decoration: none;
}

.main-content-nav li a:hover, .main-content-nav li a:focus {
    color: #555;
}

@media screen and (max-width: 768px) {
    .main-content-nav {
        float: none !important;
        margin-top: 15px;
    }
}

/*------------------------------------------------*/
/*	Main Content
/*------------------------------------------------*/
.content-wrapper {
    padding: 15px 30px 0;
}

.content-wrapper.expanded {
    width: 100%;
    padding-left: 65px;
}

@media screen and (max-width: 480px) {
    .content-wrapper {
        padding: 15px;
    }
}

.breadcrumb {
    background-color: inherit;
    padding-left: 0;
}

.breadcrumb a {
    color: #555;
}

.breadcrumb i {
    font-size: 1.2em;
    margin-right: 5px;
}

.breadcrumb .active {
    font-weight: 300;
}

/* top content, visible on every page */
@media screen and (max-width: 1199px) {
    div[class*="col-lg-"] .top-content {
        text-align: center;
    }
}

.top-content {
    text-align: right;
    margin-bottom: 20px;
}

.top-content ul.quick-access {
    margin-bottom: 0;
}

.top-content ul.quick-access > li {
    width: 10em;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .top-content ul.quick-access > li {
        width: 100%;
    }
}

.top-content ul.quick-access > li a, .top-content ul.quick-access > li a:focus, .top-content ul.quick-access > li a:hover {
    text-decoration: none;
}

.top-content ul.quick-access > li .quick-access-item {
    display: block;
    position: relative;
    background-color: #555;
    color: #fff;
    padding: 20px;
    text-align: left;
    overflow: hidden;
}

.top-content ul.quick-access > li .quick-access-item h5, .top-content ul.quick-access > li .quick-access-item p {
    margin: 0;
}

.top-content ul.quick-access > li .quick-access-item em {
    font-size: 0.85em;
}

.top-content ul.quick-access > li .quick-access-item i {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
    opacity: 0.1;
    transform: rotate(-20deg);
    position: absolute;
    top: 0.15em;
    right: -0.1em;
    font-size: 5em;
}

.top-content ul.quick-access > li .quick-access-item:hover i {
    transform: scale(1.2, 1.2);
}

.top-content ul.quick-access > li .quick-access-item.bg-color-green {
    background-color: #859419;
}

.top-content ul.quick-access > li .quick-access-item.bg-color-blue {
    background-color: #1D92AF;
}

.top-content ul.quick-access > li .quick-access-item.bg-color-orange {
    background-color: #CE7B11;
}

.top-content ul.quick-access > li .quick-access-item.bg-color-gray {
    background-color: #838383;
}

.main-header {
    margin-bottom: 50px;
}

.main-header h2 {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    border-right: 1px solid #ccc;
    margin: 0;
    padding-right: 10px;
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    .main-header h2 {
        display: block;
        border-right: none;
    }
}

.main-header em {
    color: #bbbbbb;
}

.bottom .container .content-wrapper {
    background-color: #f1f1f1;
    border-left: 1px solid #e4e4e4;
}

.main-content {
    padding-bottom: 30px;
}

/*------------------------------------------------*/
/*	UI Bootstrap Elements
/*------------------------------------------------*/
/* remove round border */
.dropdown-menu,
.panel,
.well,
code {
    border-radius: 0;
}

/* nav stacked */
.nav-stacked > li {
    border: 1px solid #ddd;
}

.nav-stacked > li:not(:first-child) {
    border-top: none;
}

.nav-stacked > li > a {
    border-radius: 0;
}

.nav-stacked > li + li {
    margin-top: 0;
}

/* bootstrap form elements */
.form-horizontal .form-control.error {
    border-color: #ff6735;
}

.radio label,
.checkbox label,
.radio-inline,
.checkbox-inline {
    font-weight: 300;
}

.radio label,
.radio-inline {
    line-height: 1.8;
}

select[multiple].form-control {
    height: auto;
}

select.form-control {
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline style='fill: #555' points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>") right no-repeat;
    background-color: #fff;
    background-size: 0.8em;
    background-position: right 5px top 12px;
}

select[multiple].form-control {
    background: none;
    height: auto;
}

select.input-lg {
    line-height: initial;
    background-position: right 5px top 17px;
}

select.input-sm {
    line-height: initial;
    background-position: right 5px top 11px;
}

.dropdown-menu > .active > a {
    background-color: #99A1A7;
}

.dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #99A1A7;
}

fieldset {
    margin-bottom: 40px;
}

.form-control,
.input-group .form-control {
    border-radius: 0;
    box-shadow: none;
}

.input-group-addon {
    border-radius: 0;
    background-color: #fff;
}

.input-group-addon.input-sm, .input-group-addon.input-lg {
    border-radius: 0;
}

.input-group-addon i {
    min-width: 12px;
}

.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
    border-radius: 0;
}

.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
    border-radius: 0;
}

/* button */
.btn {
    border-radius: 0;
    font-family: "latolight";
}

.btn i {
    margin-right: 3px;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none;
}

.btn-default {
    color: #fff;
    background-color: #626262;
    border-color: #555555;
}

.btn-default:hover, .open .dropdown-toggle.btn-default, .btn-default:focus, .btn-default:active, .btn-default.active {
    color: #fff;
    background-color: #494949;
    border-color: #555555;
}

.btn-default.disabled, .btn-default[disabled], .btn-default.disabled:hover, .open .disabled.dropdown-toggle.btn-default, .btn-default[disabled]:hover, .open [disabled].dropdown-toggle.btn-default, .btn-default.disabled:focus, .btn-default[disabled]:focus, .btn-default.disabled:active, .btn-default[disabled]:active, .btn-default.disabled.active, .btn-default[disabled].active {
    background-color: #7c7c7c;
    border-color: #555555;
}

.btn-default .caret {
    border-top-color: #fff;
}

fieldset[disabled] .btn-default,
fieldset[disabled] .btn-default:hover,
fieldset[disabled] .open .dropdown-toggle.btn-default,
.open fieldset[disabled] .dropdown-toggle.btn-default,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default:active,
fieldset[disabled] .btn-default.active {
    background-color: #7c7c7c;
}

.btn-primary {
    background-color: #296EAA;
    border-color: #246195;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active,
.btn-primary .open .dropdown-toggle.btn-primary {
    background-color: #246195;
}

.btn-info {
    background-color: #46B0CF;
    border-color: #34a6c8;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active,
.btn-info .open .dropdown-toggle.btn-info {
    background-color: #34a6c8;
}

.btn-success {
    background-color: #4BA84B;
    border-color: #439643;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active,
.btn-success .open .dropdown-toggle.btn-success {
    background-color: #439643;
}

.btn-warning {
    background-color: #E7A13D;
    border-color: #e49626;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active,
.btn-warning .open .dropdown-toggle.btn-warning {
    background-color: #e49626;
}

.btn-danger {
    background-color: #DB3833;
    border-color: #d02a25;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active,
.btn-danger .open .dropdown-toggle.btn-danger {
    background-color: #d02a25;
}

.btn-link {
    border-color: transparent;
}

.btn-link:hover, .btn-link:focus, .btn-link:active, .btn-link.active,
.btn-link .open .dropdown-toggle.btn-link {
    outline: none;
    text-decoration: none;
}

.btn-group > .btn {
    border-radius: 0;
}

.btn-group > .btn + .dropdown-toggle {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.btn-group > .btn-group:nth-child(2) > .multiselect.btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* pager */
.pager li > a,
.pager li > span {
    background-color: transparent;
    border: none;
}

.pager li > a:hover, .pager li > a:focus {
    background-color: transparent;
}

/* bootstrap alert */
.alert {
    border-radius: 0;
}

/* bootstrap tooltip */
.tooltip {
    position: absolute;
    z-index: 1030;
    display: block;
    visibility: visible;
    font-size: 12px;
    line-height: 1.4;
    opacity: 0;
    filter: alpha(opacity=0);
}

.tooltip .tooltip-inner {
    border-radius: 0;
    background: rgba(0, 0, 0, 0.8);
}

.tooltip.top .tooltip-arrow, .tooltip.top-left .tooltip-arrow, .tooltip.top-right .tooltip-arrow {
    border-top-color: rgba(0, 0, 0, 0.8);
}

.tooltip.bottom .tooltip-arrow, .tooltip.bottom-left .tooltip-arrow, .tooltip.bottom-right .tooltip-arrow {
    border-bottom-color: rgba(0, 0, 0, 0.8);
}

.tooltip.right .tooltip-arrow {
    border-right-color: rgba(0, 0, 0, 0.8);
}

.tooltip.left .tooltip-arrow {
    border-left-color: rgba(0, 0, 0, 0.8);
}

/* on/off switch */
/* https://proto.io/freebies/onoff/ */
.onoffswitch {
    position: relative;
    width: 50px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #e4e4e4;
    border-radius: 20px;
    margin-bottom: 0;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 18px;
    padding: 0;
    line-height: 1.8;
    font-size: 10px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "ON";
    padding-left: 6px;
    background-color: #53d76a;
    color: #fff;
}

.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 6px;
    background-color: #eee;
    color: #999;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 16px;
    margin: 2px;
    background: #fff;
    position: absolute;
    top: 1px;
    bottom: 1px;
    right: 29px;
    border: 2px solid #e4e4e4;
    border-radius: 15px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 1px;
}

/* fancy checkbox and radio button */
.fancy-checkbox {
    display: block;
}

.fancy-checkbox input[type="checkbox"] {
    display: none;
}

.fancy-checkbox input[type="checkbox"] + span {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    cursor: pointer;
    position: relative;
    font-size: 13px;
}

.fancy-checkbox input[type="checkbox"] + span:before {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    position: relative;
    bottom: 1px;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    content: "";
    border: 1px solid #ccc;
}

.fancy-checkbox input[type="checkbox"]:checked + span:before {
    font-family: FontAwesome;
    content: '\f00c';
    font-size: 12px;
    color: #99a1a7;
    text-align: center;
    line-height: 16px;
    background: #ededed;
    border: 1px solid #ccc;
}

.fancy-checkbox.custom-color-green input[type="checkbox"]:checked + span:before {
    color: #53D76A;
    background-color: #fff;
}

.fancy-checkbox.custom-bgcolor-green input[type="checkbox"]:checked + span:before {
    color: #fff;
    background-color: #53D76A;
    border-color: #32cf4d;
}

.fancy-radio {
    display: block;
}

.fancy-radio input[type="radio"] {
    display: none;
}

.fancy-radio input[type="radio"] + span {
    display: block;
    cursor: pointer;
    position: relative;
    font-size: 13px;
}

.fancy-radio input[type="radio"] + span i {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    border-radius: 8px;
    position: relative;
    bottom: 1px;
    content: "";
    border: 1px solid #ccc;
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

.fancy-radio input[type="radio"]:checked + span i:after {
    border-radius: 50%;
    display: block;
    position: relative;
    top: 3px;
    left: 3px;
    content: '';
    width: 10px;
    height: 10px;
    background-color: #99a1a7;
}

.fancy-radio.custom-color-green input[type="radio"]:checked + span i:after {
    background-color: #53D76A;
}

.fancy-radio.custom-bgcolor-green input[type="radio"]:checked + span i {
    background-color: #53D76A;
}

.fancy-radio.custom-bgcolor-green input[type="radio"]:checked + span i:after {
    background-color: #fff;
}

/* fancy checkbox and fancy radio */
.input-group-addon .fancy-radio,
.input-group-addon .fancy-checkbox {
    margin: 0;
}

.input-group-addon .fancy-radio input[type="radio"] + span i,
.input-group-addon .fancy-checkbox input[type="checkbox"] + span {
    margin: 0;
}

.input-group-addon .fancy-radio input[type="radio"] + span i:before,
.input-group-addon .fancy-checkbox input[type="checkbox"] + span:before {
    margin: 0;
}

/* label with button */
.label-with-btn {
    display: inline-table;
}

.label-with-btn .label,
.label-with-btn .btn {
    display: table-cell;
}

.label-with-btn .label {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 4px 6px;
    line-height: 1.6;
}

.label-with-btn .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 6px;
    line-height: 10px;
    vertical-align: middle;
}

/* custom buttons */
.btn-custom-primary {
    background-color: #E24715;
    border-color: #cb4013;
    color: #fff;
}

.btn-custom-primary:hover, .btn-custom-primary:focus, .btn-custom-primary:active, .btn-custom-primary.active,
.btn-custom-primary .open .dropdown-toggle.btn-warning {
    background-color: #d94414;
    color: #fff;
}

/*------------------------------------------------*/
/*	Page: Authentication (username, register)
/*------------------------------------------------*/
.page-auth .logo {
    margin-bottom: 40px;
}

.page-auth .logo h5 {
    font-size: 24px;
}

.page-auth .separator {
    margin: 30px auto;
    position: relative;
    width: 100%;
}

.page-auth .separator:before {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    content: "";
    height: 0;
    border-top: 1px solid #ddd;
    position: absolute;
    top: 9px;
    left: 0;
    right: 0;
}

.page-auth .separator span {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    position: relative;
    background-color: #ececec;
    padding: 0 8px;
}

.page-auth .separator,
.page-auth .center-block {
    max-width: 400px;
}

@media screen and (min-width: 768px) {
    .page-auth .separator {
        width: 50%;
    }
}

@media screen and (min-width: 992px) {
    .page-auth .separator {
        width: 30%;
    }
}

.page-auth .center-block {
    width: 100%;
    border: 1px solid #ddd;
    padding: 25px;
    text-align: left;
    background-color: #f1f1f1;
}

.page-auth .center-block .title {
    font-size: 1.2em;
    line-height: 1;
    margin-bottom: 15px;
}

.page-auth .center-block form > input {
    margin-bottom: 15px;
}

.page-auth .center-block form > input:focus {
    border-color: #ccc;
}

.page-auth .center-block .btn-auth {
    margin-top: 20px;
}

.page-auth .center-block .links {
    margin-top: 30px;
    text-align: center;
}

.page-auth .center-block #messages {
    margin-top: 15px;
}

.page-auth .center-block .links p {
    margin-bottom: 0;
    font-size: 0.9em;
}

.page-auth .center-block .links p a:hover {
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .page-auth .center-block {
        width: 50%;
    }
}

@media screen and (min-width: 992px) {
    .page-auth .center-block {
        width: 30%;
    }
}

/*------------------------------------------------*/
/*	Page: Dashboard
/*------------------------------------------------*/

.widget {
    background-color: #f9f9f9;
    border: 1px solid lightgray;
    margin-bottom: 20px;
}
.widget .widget-header {
    background-color: #eeeeee;
    border-bottom: 1px solid lightgray;
    height: 35px;
    padding: 0 10px;
}
.widget .widget-header i {
    margin-right: 5px;
}
.widget .widget-header h3 {
    display: inline-block;
    float: left;
    font-family: "latobold", serif;
    font-size: 1.1em;
    line-height: 35px;
    margin: 0;
    vertical-align: middle;
}
.widget .widget-header .widget-header-toolbar {
    border-left: 1px solid #ddd;
    float: right;
    height: 35px;
    margin-left: 10px;
    padding-left: 10px;
    width: auto;
}
.widget .widget-header .widget-header-toolbar .btn-borderless {
    padding-top: 5px;
}
.widget .widget-header .widget-header-toolbar .btn, .widget .widget-header .widget-header-toolbar .btn-borderless {
    display: inline-block;
    height: 25px;
    vertical-align: middle;
}
.widget .widget-header .widget-header-toolbar > a {
    margin-left: 5px;
}
.widget .widget-header .btn-group > a {
    color: #555;
}
.widget .widget-content {
    padding: 20px 10px;
}
.widget.widget-transparent {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
}

.number-chart {
    border-bottom: 2px solid #ddd;
    margin: 0 30px;
    padding: 15px 0 0;
}
@media screen and (max-width: 480px) {
    .number-chart {
        width: auto;
    }
}
.number-chart .number {
    font-weight: 300;
    height: 103px;
    min-width: 105px;
    padding-top: 1.5em;
}
@media screen and (max-width: 480px) {
    .number-chart .number {
        float: none !important;
        height: 70px;
        text-align: center;
    }
}
.number-chart .number > span {
    font-size: 22px;
    line-height: 1.4;
}
.number-chart .number > span + span {
    display: block;
    font-size: 14px;
    font-weight: normal;
    line-height: 2;
}
.number-chart .number i {
    font-size: 12px;
}
.number-chart .mini-stat {
    padding: 20px 0;
    text-align: center;
}
.number-chart .mini-stat p {
    font-size: 11px;
    margin-bottom: 0;
    margin-top: 5px;
}
.number-chart .mini-stat i {
    font-size: 18px;
    margin-right: 2px;
    position: relative;
    top: 2px;
}

.jqstooltip {
    background-color: #f3f3f3 !important;
    border-color: silver !important;
    border-radius: 0 !important;
    color: #555 !important;
}
.jqstooltip {
    height: auto !important;
    width: auto !important;
}
.jqsfield {
    color: #555 !important;
}

ul.activity-list > li {
    padding-bottom: 15px;
}
ul.activity-list > li:not(:first-child) {
    padding-top: 15px;
}
ul.activity-list > li:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

ul.activity-list > li .activity-icon {
    background-color: #e4e4e4;
    border-radius: 30px;
    color: #656565;
    display: inline-block;
    font-size: 16px;
    height: 34px;
    line-height: 34px;
    margin-right: 10px;
    text-align: center;
    vertical-align: middle;
    width: 34px;
}
ul.activity-list > li > p {
    margin-bottom: 0;
    padding-left: 40px;
}

ul.activity-list > li .timestamp {
    color: #b1b1b1;
    display: block;
    font-size: 0.85em;
}

/*------------------------------------------------*/
/*	Page: Inbox
/*------------------------------------------------*/

.inbox .loading {
    position: absolute;
}

@media screen and (max-width: 768px) {
    .inbox .loading {
        position: absolute;
    }
}

/* Search box (borrowed from bootstrap-tagsinput) */
.inbox form.searchbox {
    margin-bottom: 10px;
}

.inbox div.searchbox {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    color: #555;
    cursor: text;
    display: inline-block;
    height: 30px;
    line-height: 22px;
    padding: 3px 6px;
    position: relative;
    vertical-align: middle;
    width: 100%;
}

.inbox div.searchbox.focus {
    border-color: #66afe9;
}

.inbox div.searchbox input {
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    padding: 0 10px;
    position: absolute;
    margin: 0 0 0 -6px;
    width: 100%;
}

.inbox div.searchbox input:focus {
    border: none;
    box-shadow: none;
}

.inbox div.searchbox #search-params {
    visibility: hidden;
    display: none;
}

.inbox div.searchbox .tags {
    position: absolute;
    top: 1px;
}

.inbox div.searchbox .tag {
    color: white;
    display: inline-block;
    margin-right: 2px;
    padding-top: 3px;
}

.inbox div.searchbox .tag [data-role="remove"] {
    margin-left: 8px;
    cursor: pointer;
}

.inbox div.searchbox .tag [data-role="remove"]:after {
    content: "x";
    padding: 0px 2px;
}

.inbox div.searchbox .tag [data-role="remove"]:hover {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.inbox div.searchbox .tag [data-role="remove"]:hover:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.inbox .top .row > div:first-child {
    padding-right: 0;
}

@media screen and (max-width: 1280px) {
    .inbox .top .row > div:first-child {
        padding-right: 15px;
    }
}

.inbox .top-menu {
    padding-left: 21px;
    border-left: 1px solid #ddd;
}

.inbox .top .row > div:only-child .top-menu,
.inbox .bottom .row > div:only-child .messages {
    border-left: none;
    padding-left: 0;
}

.inbox .messages .fancy-checkbox {
    margin: 5px 0;
}

@media screen and (max-width: 1279px) {
    .inbox .top-menu {
        padding-left: 0;
        border-left: none;
        margin-top: 10px;
    }
}

.inbox .top-menu .top-menu-label {
    margin-right: 5px;
}

.inbox .top-menu > ul {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
}

.inbox .top-menu > ul > li {
    padding-left: 0;
    padding-right: 0;
}

.inbox .top-menu .btn {
    font-size: 0.85em;
}

.inbox .top-menu .btn.btn-default {
    background-color: #e4e4e4;
    border-color: #dcdcdc;
    color: #717171;
}
.inbox .top-menu .btn.btn-default .caret{
    border-top-color: #717171;
}

.inbox .top-menu .btn.btn-default:hover {
    color: #3e3e3e;
}

.inbox .top-menu .btn:active, .inbox .top-menu .btn.active, .inbox .top-menu .btn:focus, .inbox .top-menu .btn.focus {
    box-shadow: none;
    outline: none;
}

.inbox .top-menu .btn-group.open .dropdown-toggle {
    box-shadow: none;
}

.inbox .top-menu ul.dropdown-menu {
    min-width: 120px;
}

.inbox .top-menu ul.dropdown-menu li {
    font-size: 0.9em;
}

.inbox .top-menu ul.dropdown-menu li a {
    color: #717171;
    padding: 3px 11px;
}

.inbox .top-menu .navigation {
    position: absolute;
    top: -6px;
    right: 0;
}

.inbox .top-menu .navigation .inbox-nav-toggle {
    position: relative;
    top: 5px;
    float: left;
    padding: 0;
    background-color: transparent;
}

.inbox .top-menu .navigation .inbox-nav-toggle i {
    font-size: 24px;
    color: #959595;
    cursor: pointer;
}

.inbox .top-menu .navigation .inbox-nav-toggle i:hover {
    color: #555;
}

@media screen and (max-width: 768px) {
    .inbox .top-menu .navigation {
        display: block;
        position: static;
    }

    .inbox .top-menu .navigation .pager-wrapper {
        float: right;
    }
}

.inbox .top-menu .navigation .info {
    position: relative;
    top: 2px;
    right: 15px;
    font-size: 0.85em;
}

.inbox .top-menu .navigation ul.pager {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin: 0;
    position: relative;
    right: 8px;
}

@media screen and (max-width: 768px) {
    .inbox .top-menu .navigation ul.pager {
        position: static;
    }
}

.inbox .top-menu .navigation ul.pager li {
    font-size: 24px;
}

.inbox .top-menu .navigation ul.pager li a {
    color: #717171;
    padding: 5px 7px;
}

.inbox .top-menu .navigation ul.pager li a:hover {
    color: #3e3e3e;
}

.inbox .bottom {
    border-top: 1px solid #ddd;
}

.inbox .bottom .row > .inbox-left-menu {
    padding-right: 0;
    padding-top: 14px;
}

@media screen and (max-width: 767px) {
    .inbox .bottom .row > .inbox-left-menu {
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: ease-in;
        max-height: 0;
        padding-right: 15px;
        overflow-y: hidden;
    }

    .inbox .bottom .row > .inbox-left-menu.active {
        max-height: 330px;
    }
}

.inbox .bottom .row .messages {
    border-left: 1px solid #ccc;
    min-height: 325px;
    padding-left: 15px;
    padding-top: 10px;
}

@media screen and (max-width: 768px) {
    .inbox .bottom {
        margin-top: 5px;
    }

    .inbox .bottom .row .messages {
        border-left: none;
        padding-left: 0;
        min-height: 0px;
    }
}

.inbox .bottom ul.left-menu {
    margin-bottom: 40px;
}

.inbox .bottom ul.left-menu li a {
    display: block;
    color: #888888;
    padding: 5px 0 5px 24px;
    font-size: 0.9em;
}

.inbox .bottom ul.left-menu li.active a,
.inbox .bottom ul.left-menu li a:hover {
    color: #555;
    text-decoration: none;
}

.inbox .bottom ul.left-menu li i {
    width: 15px;
    margin-right: 5px;
    margin-left: -24px;
}

.inbox .bottom ul.left-menu li .badge {
    background-color: #a2a2a2;
    color: #f9f9f9;
}

.inbox .labels h3 {
    font-size: 1em;
}

.inbox .labels li a {
    font-size: 0.9em;
    color: #888888;
}

.inbox .labels li a:hover {
    color: #555;
    text-decoration: none;
}

.inbox .labels li i {
    width: 14px;
    height: 14px;
    position: relative;
    top: 2px;
}

.inbox .message-label {
    padding: 3px;
    font-size: 0.8em;
    font-family: "latobold";
    color: #fff !important;
}

.inbox .category .message-label,
.inbox .category .message-icon {
    display: inline-block;
    height: 14px;
    margin: 0 5px;
    width: 14px;
}

.inbox .category .message-label {
    position: relative;
    top: 2px;
}

.inbox .category .message-icon {
    position: relative;
    top: -3px;
}

@media screen and (max-width: 992px) {
    .inbox .message-label {
        display: none;
    }
}

.inbox .label1 {
    color: #428bca;
    background-color: #428bca;
}

.inbox .label2 {
    color: #5cb85c;
    background-color: #5cb85c;
}

.inbox .label3 {
    color: #ffd800;
    background-color: #ffd800;
}

.inbox .label4 {
    color: #c09853;
    background-color: #c09853;
}

.inbox .label5 {
    color: #dd4003;
    background-color: #dd4003;
}

.inbox .label6 {
    color: #555;
    background-color: #555;
}

.inbox table.message-table {
    table-layout: fixed;
    width: 100%;
}

@media screen and (max-width: 992px) {
    .inbox table.message-table {
        display: block;
    }
}

.inbox table.message-table colgroup .col-check {
    width: 25px;
}

.inbox table.message-table colgroup .col-star {
    width: 25px;
}

.inbox table.message-table colgroup .col-from {
    width: 140px;
}

.inbox table.message-table colgroup .col-category {
    width: 50px;
}

.inbox table.message-table colgroup .col-timestamp {
    width: 70px;
}

@media screen and (max-width: 992px) {
    .inbox table.message-table colgroup .col-from,
    .inbox table.message-table colgroup .col-blank,
    .inbox table.message-table colgroup .col-timestamp {
        width: 100%;
    }
}

.inbox table.message-table tr {
    cursor: default;
    border-bottom: 1px solid #ececec;
}

.inbox table.message-table tr.unread {
    font-weight: 700;
    background-color: #fcfcfc;
}

.inbox table.message-table tr.unread .category i {
    color: initial;
}

.inbox table.message-table tr.highlighted {
    background-color: #FFFEED;
}

.inbox table.message-table tr td {
    color: #555;
    font-size: 0.9em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.inbox table.message-table tr td a {
    color: #555;
    text-decoration: none;
}

@media screen and (max-width: 992px) {
    .inbox table.message-table tr td:nth-child(2),
    .inbox table.message-table tr td:nth-child(3) {
        display: block;
        white-space: normal;
        overflow: visible;
    }
}

.inbox table.message-table tr td:hover {
    text-decoration: none;
}

.inbox table.message-table tr td i {
    font-size: 14px;
    position: relative;
    color: #ccc;
}
.inbox table.message-table tr.unread i {
    color: initial;
}

.inbox table.message-table tr td i.fa-star {
    color: #FFB800 !important;
}

.inbox table.message-table tr td .from {
    vertical-align: top;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin-right: 20px;
}

.inbox table.message-table tr td .preview {
    font-weight: normal;
    color: #aaa;
}

.inbox table.message-table tr td .timestamp {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    float: right;
}

/* new/compose message */
.inbox.new-message .control-label,
.inbox.new-message .form-control,
.inbox.new-message .list-group label{
    text-align: left;
    font-size: 12px;
}
.inbox.new-message .form-control {
    padding: 5px 10px;
    height: 32px;
}
.inbox.new-message textarea.form-control {
    height: 64px;
}
.inbox.new-message .select2-container {
    width: 100% !important;
}
.inbox.new-message .form-group {
    margin-bottom: 7px;
}
.inbox.new-message .sub-form .row .btn-group {
    padding: 5px 0;
    margin: 0 -15px;
}
.inbox.new-message .btn-group ul.dropdown-menu li {
    font-size: 0.9em;
}
.inbox.new-message .edit-row .table.table-condensed {
    background: transparent;
    margin: 0;
}
.inbox.new-message .table .edit-row > td {
    padding: 0;
}
.inbox.new-message .table .display-row > td {
    cursor: default;
}
.inbox.new-message .table tr:not(.edit-row),
.inbox.new-message .tab-pane .container .row {
    border-bottom: 1px solid #ececec;
}
.inbox.new-message .tab-pane .container .row {
    margin-bottom: 15px;
}
.inbox.new-message .table td {
    border-top: none
}
.inbox.new-message .table td.table-menu {
    vertical-align: middle;
}

.inbox table colgroup .col-ctrl {
    width: 50px;
}

.inbox table colgroup .col-auto {
    width: auto;
}

.inbox table colgroup .col-50 {
    width: 50%;
}

.inbox table colgroup .col-30 {
    width: 30%;
}

.inbox table colgroup .col-25 {
    width: 25%;
}

.inbox table colgroup .col-20 {
    width: 20%;
}

@media screen and (max-width: 992px) {
    .inbox table colgroup  col[class*="col-auto col-"] {
        width: 100%;
    }
}

.inbox.new-message a[data-cmd] {
    color: #888;
    text-decoration: none;
    padding-left: 3px;
    padding-right: 3px;
}

.inbox.new-message a[data-cmd]:hover {
    color: #555;
}

.inbox.new-message .settings {
    margin-top: -10px;
}

.inbox.new-message .settings .settings-values {
    display: none;
}

.inbox.new-message .settings .list-group .list-group-item {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #e4e4e4;
    border-radius: 0;
    line-height: 1.8;
}

.inbox.new-message .settings .list-group .list-group-item > label {
    margin-bottom: 0;
    cursor: pointer;
    display: block;
}

.inbox.new-message .settings .list-group-item .onoffswitch {
    float: right;
}

@media screen and (max-width: 768px) {
    .inbox.new-message .top-menu .list-inline:first-child {
        margin-left: 0;
    }

    .inbox.new-message .top-menu .list-inline.pull-right {
        margin-right: 0;
    }
}

.new-message-form {
    padding: 15px;
    border-left: 1px solid #ccc;
    min-height: 325px;
}

@media screen and (max-width: 768px) {
    .new-message-form {
        border-left: none;
        padding: 0;
    }
}

/* view single message */
.view-single-message .searchbox {
    padding-left: 0;
}

.single-message-item {
    padding: 15px;
    border-left: 1px solid #ccc;
}

@media screen and (max-width: 768px) {
    .single-message-item {
        border-left: none;
    }
}

.single-message-item .message-label {
    color: #fff !important;
    padding-bottom: 4px;
}

@media screen and (max-width: 992px) {
    .single-message-item .message-label {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        padding-top: 4px;
    }
}

.single-message-item .header-top {
    margin-bottom: 20px;
}

.single-message-item .header-top .label-with-btn {
    margin-left: 10px;
}

@media screen and (max-width: 768px) {
    .single-message-item .header-top .label-with-btn {
        margin-left: 0;
    }
}

.single-message-item h2 {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    font-size: 1.5em;
    margin: 0;
    line-height: 1.6;
}

@media screen and (max-width: 768px) {
    .single-message-item h2 {
        display: block;
    }
}

.single-message-item .media,
.single-message-item .media-body {
    overflow: visible;
}

.single-message-item .header-bottom a:hover, .single-message-item .header-bottom a:focus {
    text-decoration: none;
}

.single-message-item .header-bottom .dropdown-menu > li > a {
    padding: 3px 15px;
    color: #888888;
}

.single-message-item .header-bottom .dropdown-menu > li > a:hover, .single-message-item .header-bottom .dropdown-menu > li > a:focus {
    color: #555;
}

.single-message-item .header-bottom .dropdown-menu > li > a i {
    width: 20px;
}

.single-message-item .message-body-text {
    padding: 20px 0;
}

.single-message-item .attachments {
    margin-bottom: 30px;
}

.single-message-item .attachments .download-all {
    margin-left: 10px;
}

.single-message-item .attachments li {
    line-height: 1.8;
}

.single-message-item .attachments li .text-muted {
    font-size: 0.9em;
    margin-left: 5px;
}

.single-message-item .reply-box:hover {
    cursor: pointer;
}

/*------------------------------------------------*/
/*	Footer
/*------------------------------------------------*/
.footer {
    color: #fff;
    padding: 10px;
    background-color: #555;
    font-size: 0.9em;
    text-align: center;
}
